@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
</head>
<body>
    <div>
        <h3>Order a room @ViewBag.RoomNumber</h3>
        <h4>Actual room schedule</h4>
        <table>
            <tr>
                <td><p>Starting</p></td>
                <td><p>Ending</p></td>
            </tr>
            @foreach (var item in ViewBag.RoomSchedule)
            {
                <tr>
                    <td><p>@item.StartOfSession</p></td>
                    <td><p>@item.EndOfSession</p></td>
                </tr>
            }
        </table>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.RoomId" name="RoomId" />
            <table>
                <tr>
                    <td><p>Input your firstname</p></td>
                    <td><input type="text" name="FirstName" /> </td>
                </tr>
                <tr>
                    <td><p>Input your lasttname</p></td>
                    <td><input type="text" name="LastName"/></td>
                </tr>
                <tr>
                    <td><p>You want to start at</p></td>
                    <td><input type="time" name="StartOfSession" /> </td>
                </tr>
                <tr>
                    <td><p>Duration(min)</p></td>
                    <td><input type="number" name="Duration" min="15" step="5"/></td>
                </tr>
                <tr><td><input type="submit" value="Submit"/></td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>