@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="" class="col-md-3">
    <table>
        <tr>
            <td><p>Input room number</p></td>
            <td><input type="text" name="keyword" required /> </td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

