@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Input room number</p></td>
                <td><input type="text" name="keyword" /> </td>
            </tr>
            <tr><td><input type="submit" value="Submit" /></td><td></td></tr>
        </table>
    </form>
</body>
</html>

