@model PagedList.IPagedList<RoomBooking.Models.Room>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rooms list</title>
</head>
<body>
    <p><a href="/Home/Find">Search</a></p>
    <table>
        <tr>
            <td><p>Room number</p></td>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td><p>@item.RoomNumber</p></td>
                <td><p><a href="/Home/Book/@item.RoomId">Book</a></p></td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</body>
</html>