@model RoomBooking.Models.ViewModels.OrderResultModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderResult</h2>
@if (Model.Status)
{
    <p>@Model.Message</p>
}
else
{
    <p style="color:red">@Model.Message</p>
}