@{
    ViewBag.Title = "PersonalPage";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonalPage</title>
</head>
<body>
    <h2>Yours bookings</h2>
    <table>
        <tr>
            <td><p>Room number</p></td>
            <td><p>Date</p></td>
            <td><p>Starting</p></td>
            <td><p>Ending</p></td>
        </tr>
        @foreach (var item in ViewBag.BookingList)
        {
            <tr>
                <td><p>@item.Room.RoomNumber</p></td>
                <td><p>@item.StartOfSession.ToString("dd/MM/yyyy")</p></td>
                <td><p>@item.StartOfSession.ToString("HH:mm")</p></td>
                <td><p>@item.EndOfSession.ToString("HH:mm")</p></td>
            </tr>
        }
    </table>
    <br />
</body>
</html>

