@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rooms list</title>
</head>
<body>
    <div>
        <p>Search results</p>
        <table>
            <tr>
                <td><p>Room number</p></td>
            </tr>
            @foreach (var item in ViewBag.Rooms)
            {
                <tr>
                    <td><p>@item.RoomNumber</p></td>
                    <td><p><a href="/Home/Book/@item.RoomId">Book</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>

